@media screen and (min-width: 800px ) { 

.WhatTheySaid-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: var(--font-family);

}
.WhatTheySaid-textHeader {
    display: flex;
    width: 100%;
    

}
.person-img {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    top: -20px;

    margin: 0 auto;
}
.images-div {
    width: 100%;
    height: 100%;
}
.WhatTheySaid-textHeader > h2 {
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--dark-blue);
}
.WhatTheySaid-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}
.WhatTheySaid-carousel {
    display: flex;
    flex-direction: row;
    
    width: 100%;
}
.swiper-wrapper{
    width: 100%;
}
.person-1 {
    flex: 1;
    background-color: #fafafa;
    width: 100%;
height: 200px;
    border-radius: 20px;
    margin: 20px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    box-shadow:rgba(148, 148, 148, 0.35) 0px 5px 15px;


}
.person-name {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.person-name > h4{
    display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
margin-bottom: 10px;
color: var(--dark-blue);
font-size: 16px;
}
.person-info {
    display: flex;
    width: 100%;

    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.person-info > p {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 16px;
    margin: 0;
    width: 80%; margin: 0 auto;
}

.WhatTheySaid-button  > button{
    display: flex;
    margin: 0 auto;
    width: 25%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: var(--bright-red);
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

}




@media screen and (max-width: 600px ) {
    .person-img {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        top: -20px;
    
        margin: 0 auto;
    }
    .images-div {
        width: 100%;
        height: 100%;
    }
    .WhatTheySaid-textHeader {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin:  0 auto;
        
    }
    .WhatTheySaid-textHeader > h2 {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        color: var(--dark-blue);
        
    }
    .WhatTheySaid-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    .WhatTheySaid-carousel {
        display: flex;
        flex-direction: row;
        
        width: 100%;
    }
    .swiper-wrapper{
        width: 100%;
    }
    .person-1 {
        flex: 1;
        background-color: #fafafa;
        width: 100%;
    height: 200px;
        border-radius: 20px;
        margin: 20px;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        box-shadow:rgba(148, 148, 148, 0.35) 0px 5px 15px;
    
    
    }
    .person-name {
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    .person-name > h4{
        display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: var(--dark-blue);
    font-size: 16px;
    }
    .person-info {
        display: flex;
        width: 100%;
    
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .person-info > p {
        display: flex;
        align-items: center;
        justify-content: center;
      
        font-size: 16px;
        margin: 0;
        width: 80%; margin: 0 auto;
    }
    
    .WhatTheySaid-button {
        cursor: pointer;
    }
    .WhatTheySaid-button  > button {
        display: flex;
        margin: 0 auto;
        width: 40%;
        cursor: pointer;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: none;
        background-color: var(--bright-red);
        box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
        font-size: 18px;
        padding: 10px;
    }
    .WhatTheySaid-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        font-size: 16px;
 
      height: 100%;
     
    }
    .WhatTheySaid-textHeader {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin:  0 auto;
        
    }
    .WhatTheySaid-textHeader > h2 {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        color: var(--dark-blue);
        
    }
}